body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(2, 2, 58);
}

h1 {
    color: white;
}

#contenedor {
    margin: 0 8%;
}

#contenedor-errores {
    background-color: rgb(255, 6, 46);
    border-radius: 1em;
    width: 80%;
    padding: 0.5em;
    margin: 1.5em auto;
    color: white;
    font-weight: bold;
}

.oculto {
    display: none;
}

#input {
    width: 70%;
    padding: 1em 1.5em;
    border-radius: 0.5em;
    background-color: white;
    font-size: 1.25rem;
    border: none;
}

.item {
    margin: 1rem;
}

.item-input {
    background: none;
    height: 3rem;
    padding: 0 1em;
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: white;
}

#boton-agregar {
    width: 4em;
    height: 4em;
    margin: 0.5rem;
    border: none;
    border-radius: 1em;
    background-color: rgb(255, 6, 46);
    color: white;
}
#boton-agregar:hover {
    opacity: 0.9;
}

.boton-editar, .boton-remover {
    height: 3rem;
    width: 3rem;
    margin: 0 0.5%;
    border: none;
    font-size: 1.4rem;
}

.boton-editar { 
    background: none;
    color: #62d0ff;
}

.boton-remover {
    border-radius: 10px;
    background-color: rgb(255, 6, 46);
    color: white;
}


